.trash
notes
perlite/Demo/.trash
perlite/Demo/Thumbs.db
perlite/Demo/.obsidian/plugins
perlite/Demo/.obsidian/app.json
perlite/Demo/.obsidian/community-plugins.json
perlite/Demo/.obsidian/core-plugins-migration.json
perlite/Demo/.obsidian/core-plugins.json
perlite/Demo/.obsidian/graph.json
perlite/Demo/.obsidian/hotkeys.json
perlite/Demo/.obsidian/workspace.json
perlite/Demo/Test Canvas.canvas
perlite/logo2.svg
Thumbs.db
ParsedownExtra.php
perlite-dev
_Notes