* {
  box-sizing: border-box;
}

.markdown {
  padding: 50px;
}


.images {
    max-width: 600px;
}


body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

.list-unstyled li a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}

main {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
	}

.divider {
  flex-shrink: 0;
  width: 1.5rem;
  min-height: 100vh;
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}


.btn-toggle {
  display: inline-flex;
  padding: .25rem .5rem;
  font-weight: 600;
  color: #357dc5;
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color:  #105090;
  background-color: #000000;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28200,200,200,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: #3f91e3;
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #000000;
}


.list-unstyled {
	list-style: none;
	padding-left: 10px;
}


.container-my {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 990px) {
    .container-mobile, .divider, .search-my, .no-mobile {
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 100%;
      display: none;
    }
    .bd-aside {
      width: 100%;
      text-align: center;
    }

     .btn  {
      font-size: 5vw;
     }

     .container-my, .list-unstyled  {
      font-size: 4vw;
     }

     .mdContent {
      font-size: 5vw;
     }

     .mdTitle  {
       margin-right: 3vw;
     }

     .me-3 {
       width: 300px;
     }

     .bi-fullscreen {
       width: 50;
       height: 50;
     }

     .btn-toggle::before {
      content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28200,200,200,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    }


}

.nav-selector {

  min-width: 300px;

}  
