
* {
  box-sizing: border-box;
}



/* Theme Changes */
.navbar-dark {background-color: #222;}
.navbar-light {background-color: #fff;}
.logo-light{fill:#fff;}
.logo-dark{fill:#222;}
.btn-hover-light:hover, .btn-hover-light:focus {background-color: var(--bs-light);}
.btn-hover-dark:hover, .btn-hover-dark:focus {background-color: var(--bs-dark);}


#imgContainer {
  text-align: center;
  background-color: transparent;
}

.markdown {
  height: auto;
  overflow: auto;
  
}

.sticky-nav {
  position: sticky;
  top: 100px;
  z-index: 1020;
}

#showLastSearch {
  float: right;
  padding-right: 10px;
}

.aboutModalBody > p > img {
  max-width: 100%;
}

.images {
    max-width: 600px;
}

.nav-selector {
  min-width: 300px;
  overflow: hidden; 
}  


.list-unstyled li a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}


main {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 60px; 
	}


.divider {
  flex-shrink: 0;
  width: 1.5rem;
  min-height: 88vh; 
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}


.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28200,200,200,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}


.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}



.list-unstyled {
	list-style: none;
	padding-left: 10px;
}


.header-my {
  width: 100%;
  padding-right: var(--bs-gutter-x, 2.0rem);
  padding-left: var(--bs-gutter-x, 2.0rem);
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

@media screen and (max-width: 990px) {
    .container-mobile, .divider,  .no-mobile {
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 100%;
      display: none;
    }

    .bd-aside {
      width: 100%; 
      text-align: center; 
    }

    .bi-fullscreen {
       width: 50;
       height: 50;
     }

    .list-unstyled li a{
      list-style: none;
      margin-left: 0px;
    }

    .list-unstyled{
      list-style: none;
      margin-left: 0px;
      padding-left: 0px;
    }

    .btn-toggle {
      margin-right: 16px;
    }

    .headline {
      padding-top: 0px !important;
      margin-bottom:90px !important;
    }

    main {
      padding-top: 70px; 
      }

}


